body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  padding: 2rem;;
  background-color: #275bec;
  color: #ffffff;
  display: block;
  justify-content: space-between;
}

.name {
    font-size: 3rem;
}

nav ul {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* min-width: 300px; */
    padding-top: 3rem;
    /* padding-bottom: 5px;  */
}

header a {
    color:#ffffff;
    padding-left: 2rem;
}
header a:hover {
    color:#45a4f3;
}

.AboutMe {
    margin: 2rem;
    display: block;
    justify-content: center;
    /* height: 300px; */
}
.Me{
    /* display: block; */
    font-size: 2rem;
}
.textpic{
    display: flex;
    justify-content: space-evenly;
}
.Paragraph{
    display: block;
    padding: 5rem;
    /* border: 5px solid black; */
}
.large{
    font-size: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
.textcoder{
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.textme{
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;

}
.pictureme{
    padding: 5rem;
    text-align: center;
    /* border: 5px solid black; */
}
.me{
    box-shadow: 10px 10px 5px grey;
    /* align-items: center; */
}
.Work{
    display: block;
    margin: 2rem;

}
.workinfo{
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.bigSample{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}
#project2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
    border: 2px solid #d4a91c;
}
.center{
    text-align: center;
}
.sample {
    display: flex;
    /* display: block; */
    /* justify-content: center; */
    /* flex-wrap:wrap; */
    /* justify-content: space-around; */
    /* position: relative; */
    /* flex-direction: column; */
    /* left: 130px; */
    /* margin: 3rem; */
}
.box{
    /* display: flex; */
    /* display: block; */
    /* justify-content: center; */
}
.smallbox{
    width: 95%;
    border-radius: 10px;
    border: 2px solid #d87dc9;
}
footer {
    margin-left: 15px;
    color: #000000;
    width: 100%;
}
footer a {
    color: #000000;
}
footer a:hover {
    color: #45a4f3;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
    margin-left: 130px;
}
@media screen and (max-width: 1368px) {
    header {
        background-color: #0b2e7a;
    }
    .box img {
        width: 50%;
    }
    .textpic{
        display: block;
    }
/* make cards for boxes  */
/* get the boxes to be in two in a row  */
    .box{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        /* width: 80%; */
    }
}